.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: stretch;
  justify-content: center;
  overflow-y: scroll;
  position: relative;
  padding: 40px 20px 20px;

  @media screen and (max-width: 800px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__link {
    position: absolute;
    top: 20px;
    left: 120px;
    @media screen and (max-width: 800px) {
      position: relative;
      top: initial;
      left: initial;
    }
  }
}

.admin__btn {
  border: 1px solid #96f696;
  background: #f6fff6;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;
  width: 200px;
  border-radius: 4px;

  &:hover {
    border: 1px solid #f6fff6;
    background: #96f696;
  }

  &-download {
    position: absolute;
    top: 20px;
    right: 120px;
    @media screen and (max-width: 800px) {
      position: relative;
      top: initial;
      right: initial;
    }
  }
}

.admin__btn-table {
  border: 1px solid #ff4f4f;
  background: #fd2f2f;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;

  &:hover {
    border: 1px solid #fd2f2f;
    background: #ff4f4f;
  }
}


.admin__btn-table-edit {
  border: 1px solid #96f696;
  background: #96f696;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;

  &:hover {
    border: 1px solid #a3b899;
    background: #a3b899;
  }
}