.users-list {
  overflow: auto;
  height: calc(100vh - 200px);
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.users {
  padding: 40px;
  @media screen and (max-width: 600px) {
    padding: 20px 5px;
  }
}

.users__header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 10px;

  @media screen and (max-width: 600px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
