@import '../../style/colors';

.card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 300px;
  border: 1px solid transparent;
  border-radius: 8px;
  width: calc(33% - 30px);
  padding: 20px;
  background: rgb(241, 241, 210);
  background: linear-gradient(129deg, rgba(153, 248, 61, 0.35) 0%, rgb(215, 255, 203) 66%, rgb(230, 241, 210) 100%);
  box-shadow: -8px 3px 13px 0px rgba(0, 0, 0, 0.46);
  backdrop-filter: blur(10px);
  text-align: center;
  cursor: pointer;
  transition: 1s all ease-in;

  &:hover {
    transition: 1s all ease-in;
    background: linear-gradient(129deg, rgb(215, 255, 203) 0%, rgb(230, 241, 210) 66%, rgba(153, 248, 61, 0.35) 100%);
    box-shadow: -8px 3px 13px 0px rgba(0, 0, 0, 0.46);
  }

  h3 {
    font-weight: 600;
  }

  img {
    object-fit: contain;
    width: 150px;
    height: auto;
    margin: 0 auto;
  }
}
