body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #f6fff6;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dancing Script', cursive;
}

.container {
  width: 100%;
  height: 100%;
}

#root {
  width: 100vw;
  height: 100vh;
}

.ant-radio-group {
  display: flex !important;
  flex-direction: column !important;
  gap: 10px !important;

  span {
    font-size: 16px !important;
  }
}
